@font-face{
    font-family: "Roslindale";
    src: url(/fonts/RoslindaleDisplayCondensed-Bold.otf);
  }
  
  *{
    margin:0;
    padding:0;
  }
  
  body{
    background-color: rgba(8, 8, 8, 1);
  }
  
  section{
    height: 100vh;
  }
  
  section > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .anim{
    overflow: hidden;
  }
  
  .animwrap{
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .logo, .typo{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo{
    position: fixed;
    background-color: black;
  }
  
  .typo{
    position: relative;
    height: 100vh;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    animation: typoSlide 1.1s cubic-bezier(0.65, 0, 0.35, 1) forwards;
    animation-delay: 1.7s;
    background-color: rgba(8, 8, 8, 1);
    fill: white;
  }
  
  @keyframes typoSlide{
    0%{
      opacity: 1;
      transform:translate(0%, 100%);
    }
  
    100%{
      opacity: 1;
      transform:translate(0%, 0%);
    }
  }
  
  .display-wrap{
    height: 100%;
    padding: 100px 90px;
  }
  
  .two{
    background-color: rgba(8, 8, 8, 1);
    color:white;
    font-family: 'Helvetica';
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  
  .display{
    height:400px;
    background-color: transparent;
    margin: 20px;
  }
  
  .display img{
    width: 100%;
  }
  
  .three{
    background-color: rgba(8, 8, 8, 1);
  }
  
  
  .logo-svg{
    width: 140px;
    transform: scale(1.2, 1.2);
    animation: scale .8s cubic-bezier(0.76, 0, 0.24, 1) forwards;
    animation-delay: 1.8s;
  }
  
  .logo-svg path{
    fill: none;
    stroke-width: 0px;
    stroke:white;
    stroke-dasharray: 2000;
    opacity: 10;
    animation: animate 2.2s cubic-bezier(0,.50,1,.1) forwards;
  }
  
  @keyframes scale {
    0%{
        transform:scale(1.2, 1.2); 
    }
  
    100%{
        transform: scale(1, 1);
    }
  }
  
  @keyframes animate {
    0%{
        stroke-width: 10px;
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1100;
        stroke: white;
    }
  
    20%{
        opacity: 100;
        fill: none;
    }
  
    21%{
        opacity: 100;
        fill:none;
    }
  
    39%{
        fill: rgba(255, 255, 255, .01);
    }
  
    49%{
        stroke-width: 10px;
    }
  
    50%{
        opacity: 100;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 200;
        stroke-width: 0px;
    }
  
    90%{
        stroke: white;
        fill: white;
        opacity: 100;
    }
  
    100%{
        opacity: 100;
        fill: white;
    }
  
  }
  
  .typo-svg{
    width: 600px;
  }
  
  .typo svg{
    opacity: 0;
    animation: opacity-in .9s cubic-bezier(0.65, 0, 0.35, 1) forwards;
    animation-delay: 2.8s;
  }
  
  @keyframes opacity-in {
    0%{
        opacity: 0;
  
    }
  
    20%{
        opacity: 0;
    }
  
    100%{
        opacity: 100;
  
    }
  }
  
  
  .color{
    height: 400px;
    width: 240px;
  }
  
  .color1{
    background-color: white;
  }
  
  .color2{
    background-color: #FFE4C9;
  }
  
  .color3{
    background-color: #8D5D2C;
  }
  
  .color4{
    background-color: #AE391A;
  }
  
  
  .typography{
    font-family: 'Roslindale';
    color: white;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  
  .info{
    font-size: 16px;
  }
  
  .display-mockup{
    height: 400px;
  }
  
  
  .last{
    height: 400px;
  }
  
  