$backgroundColor1: rgb(10, 10, 10);
$backgroundColor2: rgb(255, 210, 210);
$textColorLight:#fff;
$menu-link:#fff;
$headerText: #E0E0E0;

html{
    overscroll-behavior: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
  }



body{
    height: 100vh;
    width: 100vw;
    display: block;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    position: relative;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.is-loading {
    overflow: hidden;
}

#wrapper{
    height: 100%;
    width: 100%;
    overflow: scroll;

}


@font-face {
    font-family: 'roslindale';
    src: url('/fonts/roslindaletext-regular-webfont.eot');
    src: url('/fonts/roslindaletext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roslindaletext-regular-webfont.woff2') format('woff2'),
         url('/fonts/roslindaletext-regular-webfont.woff') format('woff'),
         url('/fonts/roslindaletext-regular-webfont.ttf') format('truetype'),
         url('/fonts/roslindaletext-regular-webfont.svg#roslindale_text_regularRg') format('svg');
}

@font-face {
    font-family: 'roslindale-ital';
    src: url('/fonts/roslindaletext-italic-webfont.eot');
    src: url('/fonts/roslindaletext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roslindaletext-italic-webfont.woff2') format('woff2'),
         url('/fonts/roslindaletext-italic-webfont.woff') format('woff'),
         url('/fonts/roslindaletext-italic-webfont.ttf') format('truetype'),
         url('/fonts/roslindaletext-italic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/bold.otf') format('opentype');
    src: 
         url('/fonts/bold-webfont.woff2') format('woff2'),
         url('/fonts/bold-webfont.woff') format('woff'),
         url('/fonts/bold-webfont.ttf') format('truetype'),
         url('/fonts/bold-webfont.svg') format('svg');
}

@font-face {
    font-family: 'respira';
    src: url('/fonts/Respira-Black.otf');
    src: 
         url('/fonts/respira-black-webfont.woff2') format('woff2'),
         url('/fonts/respira-black-webfont.woff') format('woff'),
         url('/fonts/respira-black-webfont.ttf') format('truetype'),
         url('/fonts/respira-black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica-medium';
    src: url('/fonts/HelveticaNeue\ Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
    src: url('/fonts/HelveticaNeue.ttc');
    font-weight: normal;
    font-style: normal;
}

.section{
    width: 100%;
    position: relative;
    display: flex;/* change to block to scroll mode*/
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    overscroll-behavior: none;
}

    .section-background{
        content: ' ';
        position: fixed; // instead of background-attachment
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        background: url('/img/bg4-min.jpg') no-repeat center center;
        background-size: cover;
        will-change: transform; // creates a new paint layer
        z-index: -2;
        &:after{
            background-image: url("/img/flammarion.png");
            content: "";
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: fixed;
            height:100%;
            width: 100%;
            animation-duration: 2800ms;
            animation-name: zoomOut;
            animation-timing-function: ease-in-out;
        }
    }

    @keyframes zoomOut {
        from {
            opacity: 0;
            transform: scale(1.2);
        }
        50% {
            opacity: 0;
            transform: scale(1.2);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
      }

.section1{
    color:$textColorLight;
    text-align: center;
    font-size: 2em;
    font-family: 'roslindale';
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.section1 .text{
    height:2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#text3{
    height: auto;
    overflow: visible;
    width: 70%;
}
#text3 h2{
    font-family: 'respira';
    font-size: 6rem;
    line-height: 6.4rem;
    z-index: 2;
    position: relative;
    margin: 0;
    padding: 0;
    font-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.section1 p{
    font-family: 'helvetica';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    z-index: 2;
    position: relative;
    padding: 0!important;
    margin-block-start: 0;
    margin-block-end: 0;
}

#bouton1{
    position: relative;
    height:100px;
    width: 100px;
    top:-200px;
    left:220px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    .bouton-container{
        height: 100%;
        width: 100%;
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @keyframes spin { 
            from { 
                transform: rotate(0deg); 
            } to { 
                transform: rotate(360deg); 
            }
        }
    }
    .bouton1{
        height:100%;
        width: 100%;
    }
    p{
        position: absolute;
        z-index: 10;
        font-size: 16px;
    }
}

.text{
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.section1 span{
    font-family: 'roslindale-ital';
}

#text3 img{
    width:32%;
    z-index: 1;
    margin-top: -30px;
}

.young{
    width:26%;
}

h2, #deux, #trois {
    animation-duration: 2800ms;
    animation-name: slidein;
    animation-timing-function: ease-in-out;
  }

#deux{
    animation-delay: 100ms;
}

#trois{
    animation-delay: 100ms;
}

  
  @keyframes slidein {
    from {
        opacity: 0;
        margin-top: 100px;
    }
  
    75%{
        opacity: 0;
        margin-top: 100px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
  }

  .header{
      width:100vw;
      height:40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      z-index: 999;
  }

  .header--logo{
      position: absolute;
      left:50%;
      transform: translate(-50%, 0);
  }

  .header--left a, .header--right a{
      font-family: helvetica-medium;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color:$headerText;
      font-weight: 400;
  }

  a:hover{
    color:#fff;
}

  .header--left{
      margin-left:20px;
  }

  .header--right{
      margin-right: 20px;
  }

  #logo{
    /*color:rgb(255, 225, 213);*/
    color: $headerText;
    font-family: helvetica-medium;
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
    text-transform: uppercase;
    text-decoration: none;
}

header {
    animation-duration: 2900ms;
    animation-name: hslidein;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes hslidein {
    from {
        opacity: 0;
        transform: translate(0px, -100px);
    }
    75% {
        opacity: 0;
        margin-top: -100px;
        transform: translate(0px, -100px);
    }
  
    to {
        opacity: 1;
        margin-top: 0px;
        transform: translate(0px, 0px);
    }
  }

  .section1 img {
    animation-duration: 2900ms;
    animation-name: islidein;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes islidein {
    from {
        opacity: 0;

    }
    75% {
        opacity: 0;

    }
  
    to {
        opacity: 1;

    }
  }

  #text-foot{
      position: fixed;
      bottom:20px;
    color:#fff;
    opacity: 1;
    left: 50%;
    text-align: center;
    transform: translate(-50%,0%);
  }

  #quatre{
    font-family: Manrope;
    font-size: 16px;
    line-height: 20px;
    color: rgb(150, 150, 150);
    animation-duration: 2900ms;
    animation-name: fslidein;
    animation-timing-function: ease-in-out;
    font-weight: 100;
  }

  @keyframes fslidein {
    from {
        opacity: 0;
        transform: translate(0px, 100px);
    }
    75% {
        opacity: 0;
        transform: translate(0px, 100px);
    }
  
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
  }

  #two{
      background-color: pink;
      background-color: black;
      z-index: 9;
  }

  @media only screen and (max-width: 990px) {

    body{
        overflow: hidden;
        overscroll-behavior: none;
    }

      .section{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
    .section1 h2{
        font-family: 'roslindale';
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2rem;
        z-index: 2;
        position: relative;
        margin: 0;
        padding: 0;
        font-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    .section1 p{
        font-family: 'roslindale';
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2rem;
        z-index: 2;
        position: relative;
        padding: 0!important;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .section1 .text{
        height:30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    .section1 img{
        width:250px;
        z-index: 1;
        /*transition-duration: 250ms;
        transition-timing-function: ease-in-out;*/
    }

    #bouton1{
        left:0px;
        top:0px;
    }

    #quatre{
        font-size: 12px;
    }

    #text3 h2{
        line-height: 4.9rem;
    }
  }


  .section2{
      width: 100%;
      height: 100vh;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #one {
    .bcg {
        transition: transform 4s ease-out;
        transform: scale(1.05);
        transform-origin: top center;
    }
    &.is-loaded {
        .section{
            .bcg {
            transform: scale(1);
            }
        }
    }
  }

  #preloader {
      height:100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      color:white;
      font-size: 40px;
      font-family: helvetica;
      background-color: black;
    &.is-hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
    }
}

.progress{
    background-color: white;
}

#text1, #text2, #text4{
    position: absolute;
    left:20%;
    top:500px;
}
#text2{
    top:530px;
}

#text4{
    top:560px;
}

#two{
    display: none;
}