$backgroundColor1: rgb(10, 10, 10);
$backgroundColor2: rgb(255, 210, 210);
$textColorLight:#fff;
$menu-link:#fff;
$headerText: #fff;



::-webkit-scrollbar {
    display: none;
  }



body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background:#000;
    overscroll-behavior: none;
    scrollbar-width: none;
}

@font-face {
    font-family: 'respira';
    src: url('/fonts/Respira-Black.otf');
    src: 
         url('/fonts/respira-black-webfont.woff2') format('woff2'),
         url('/fonts/respira-black-webfont.woff') format('woff'),
         url('/fonts/respira-black-webfont.ttf') format('truetype'),
         url('/fonts/respira-black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica-medium';
    src: url('/fonts/HelveticaNeue\ Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/HelveticaNeue.ttf');
    font-weight: normal;
    font-style: normal;
}

@keyframes reveal {
    0%   {opacity: 0;
         transform: scale(1.1);   
    }
    50%  {opacity: 1;
        transform: scale(1.1)
    }
    75%  {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
  }

  @keyframes textreveal {
    0%   {
        opacity: 0;
        transform:translate(-50%, -50%);
        position: fixed;
    }
    25%  {
        opacity: 1;
        transform:translate(-50%, -50%);

    }
    75%  {opacity: 1;

    }
    100% {opacity: 1;
        transform:translate(-50%, -50%);

    }
  }

#logo{
    /*color:rgb(255, 225, 213);*/
    color: $headerText;
    font-family: helvetica;
    color:white;
    font-size: 22px;
    font-weight: 400;
    opacity: 1;
    text-transform: uppercase;
    text-decoration: none;
}

.header--left{
    margin-left:30px;
}

.header--right{
    margin-right: 30px;
}

.header{
    width:100vw;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top:10px;
}

.header--logo{
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
}

.header--left a, .header--right a{
    font-family: helvetica;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color:$headerText;
    font-weight: 400;
}

.intro {
    position: fixed;
    z-index: 3;
    font-family: "Monument Extended";
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    z-index: 2;
    animation-name: textreveal;
    animation-duration: 2s;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    text-align: center;
}

h1{
    font-family: "Monument Extended";
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
}

.container {
    position: relative;
    width: 100vw;
    height:auto;
    margin-top: 0px;
    animation-name: reveal;
    animation-duration: 2s;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.block {
    width:33%;
    padding-bottom: 25%;
    background: grey;
    filter: grayscale(.1);
    opacity: .2;
    transition: .5s;
    background-position: top!important;
    margin: 0 2% -2% 2%;
    position: relative;
    float: left;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
            transform: scale(0.9);
            cursor: pointer;
            //cursor: url("../img/cursor.png"), auto !important;
        }
}

.block-1 {
    background: url("../img/Newseum.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-2 {
    background: url("../img/Architexture.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-3 {
    background: url("../img/LGSL.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-4 {
    background: url("../img/LGSL2.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-5 {
    background: url("../img/Pangram.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-6 {
    background: url("../img/Portail.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-7 {
    background: url("../img/Pangram2.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-8 {
    background: url("../img/Portail2.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-9 {
    background: url("../img/Skull.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-10 {
    background: url("../img/Synesthesia.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-11 {
    background: url("../img/pangram3.jpg") no-repeat 100% 100%;
    background-size: contain;
}

.block-12 {
    background: url("../img/Skull\ Copy.jpg") no-repeat 100% 100%;
    background-size: contain;
}


.form{
    position: relative;
    height: 630px;
    width: 100vw;
}

.input{
    font-family: helvetica;
}

.section2{
    background-color: rgb(0, 0, 0);
    height:500px;
    width: 100vw;
    color:rgb(184, 184, 184);
    font-family: helvetica-medium;
    font-size: 20px;
    padding-left: 0px;
    padding-top: 50px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: 0em!important;
    margin-block-end: 0em!important;
}

.section2 > h2, .section2 > p, .pres > p{
    margin-block-start: 0em!important;
    margin-block-end: 0em!important;
    z-index: 3;
}

h2{
    padding-bottom: 30px;
    text-transform: uppercase;
    font-family: helvetica-medium;
    font-size: 40px;
    color: white;
}

p{
    color:white;

}

.palme{
    margin-top: 50px;
    height: 50px;
}

.pres{
    font-size: 42px;
    line-height: 42px;
    margin-top: 50px;
    text-align: center;
    font-family: helvetica;
    z-index: 3;
}

.bg{
    z-index: 0;
    position: absolute;
}



