@charset "UTF-8";
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000;
  overscroll-behavior: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'respira';
  src: url("/fonts/Respira-Black.otf");
  src: url("/fonts/respira-black-webfont.woff2") format("woff2"), url("/fonts/respira-black-webfont.woff") format("woff"), url("/fonts/respira-black-webfont.ttf") format("truetype"), url("/fonts/respira-black-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-medium';
  src: url("/fonts/HelveticaNeue Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica';
  src: url("../fonts/HelveticaNeue.ttf");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes textreveal {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes textreveal {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

#logo {
  /*color:rgb(255, 225, 213);*/
  color: #fff;
  font-family: helvetica;
  color: white;
  font-size: 22px;
  font-weight: 400;
  opacity: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.header--left {
  margin-left: 30px;
}

.header--right {
  margin-right: 30px;
}

.header {
  width: 100vw;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 10px;
}

.header--logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header--left a, .header--right a {
  font-family: helvetica;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.intro {
  position: absolute;
  z-index: 3;
  font-family: "Monument Extended";
  font-size: 45px;
  text-transform: uppercase;
  color: white;
  z-index: 2;
  -webkit-animation-name: textreveal;
          animation-name: textreveal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h1 {
  font-family: "Monument Extended";
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  -webkit-animation-name: reveal;
          animation-name: reveal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block {
  width: 500px;
  height: 230px;
  background: grey;
  margin: .5em;
  -webkit-filter: grayscale(0.1);
          filter: grayscale(0.1);
  opacity: .2;
  -webkit-transition: .5s;
  transition: .5s;
}

.block:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
}

.block-1 {
  background: url("../img/Desktop HD Copy 15.jpg") no-repeat 50% 50%;
  background-size: contain;
}

.block-2 {
  background: url("../img/Laurel—Skull.png") no-repeat 50% 50%;
  background-size: contain;
}

.block-3 {
  background: url("../img/Desktop HD Copy 11.png") no-repeat 50% 50%;
  background-size: contain;
}

.block-4 {
  background: url("../img/synesthesia-green 2.png") no-repeat 50% 50%;
  background-size: contain;
}

.block-5 {
  background: url("../img/Valise—MJ—Light.png") no-repeat 50% 50%;
  background-size: contain;
}

.block-6 {
  background: url("../img/pangram-phone-mockup.png") no-repeat 50% 50%;
  background-size: contain;
}

.block-7 {
  background: url("../img/Desktop HD Copy 3.png") no-repeat 50% 50%;
  background-size: contain;
}

.block-8 {
  background: url("../img/Desktop HD Copy.png") no-repeat 50% 50%;
  background-size: contain;
}

.block-9 {
  background: url("../img/LGSL.jpg") no-repeat 50% 50%;
  background-size: contain;
}

.block-10 {
  background: url("../img/portail2.jpg") no-repeat 50% 50%;
  background-size: contain;
}

.block-11 {
  background: url("../img/pangram3.jpg") no-repeat 50% 50%;
  background-size: contain;
}

.block-12 {
  background: url("../img/Artboard 2.png") no-repeat 50% 50%;
  background-size: contain;
}

.form {
  position: relative;
  height: 630px;
  width: 100vw;
}

.input {
  font-family: helvetica;
}

.section2 {
  background-color: black;
  height: 500px;
  width: 100vw;
  color: #b8b8b8;
  font-family: helvetica-medium;
  font-size: 20px;
  padding-left: 0px;
  padding-top: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 0em !important;
          margin-block-start: 0em !important;
  -webkit-margin-after: 0em !important;
          margin-block-end: 0em !important;
}

.section2 > h2, .section2 > p, .pres > p {
  -webkit-margin-before: 0em !important;
          margin-block-start: 0em !important;
  -webkit-margin-after: 0em !important;
          margin-block-end: 0em !important;
  z-index: 3;
}

h2 {
  padding-bottom: 30px;
  text-transform: uppercase;
  font-family: helvetica-medium;
  font-size: 40px;
  color: white;
}

p {
  color: white;
}

.pres {
  font-size: 42px;
  line-height: 42px;
  margin-top: 50px;
  text-align: center;
  font-family: helvetica;
  z-index: 3;
}

.bg {
  z-index: 0;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */