@font-face {
  font-family: 'helvetica-medium';
  src: url("/fonts/HelveticaNeue Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'telegraf';
  src: url("../fonts/Telegraf-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cozi-azure';
  src: url("../fonts/CosiAzure-Ultra.ttf");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes textreveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes textreveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

/*Slide-in animation*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  to {
    opacity: 1;
  }
}

.fade-in-element {
  -webkit-animation: fade-in 1.4s;
          animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
  -webkit-transform: translate(0px, 150px);
          transform: translate(0px, 150px);
}

/*Slide-in animation end*/
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000;
  scroll-behavior: smooth;
}

.header {
  width: 100vw;
  height: 40px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 10px;
  -webkit-animation-name: menu;
          animation-name: menu;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  pointer-events: auto;
  font-family: telegraf;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none !important;
}

.header--left,
.header--right {
  margin: 0px 80px 0px 80px;
}

.header--left a,
.header--right a {
  color: white;
  text-decoration: none !important;
  background-color: black;
  border-radius: 20px;
}

.header--left a {
  padding: 8px 17px 8px 17px;
}

.header--right a {
  padding: 8px 10px 8px 17px;
}

.section1 {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;
  text-transform: uppercase;
  color: white;
  opacity: 1;
  text-align: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1 h1 {
  font-family: "cozi-azure";
  text-transform: uppercase;
  font-weight: 500;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-animation-name: textreveal;
          animation-name: textreveal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  line-height: 80%;
  font-size: auto;
  z-index: 0;
}

#intro {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  z-index: 2;
}

.display .display_img {
  width: 50%;
  height: auto;
}

.display1 {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: absolute;
  top: 120vh;
}

.display1 > .display_img {
  position: absolute;
  right: 10%;
  margin-top: 100px;
}

.display2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 570px;
  height: auto;
  margin-bottom: 210px;
  top: 220px;
}

.display_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display_img-iphone,
.display_img-ipad,
.display_img-artwork {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display_img-ipad {
  width: 100%;
}

#iphone {
  top: 650px;
  left: 50px;
  position: relative;
  width: 1000px;
}

.artwork {
  width: 400px;
}

.container {
  position: relative;
  width: 100vw;
  height: auto;
  margin-top: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  position: relative;
  height: 100%;
  width: 100vw;
  z-index: 4;
  overflow: hidden;
}

.input {
  font-family: telegraf;
}

.section2 {
  background-color: black;
  width: 100vw;
  color: #b8b8b8;
  font-family: helvetica-medium;
  font-size: 20px;
  padding-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 0em !important;
          margin-block-start: 0em !important;
  -webkit-margin-after: 0em !important;
          margin-block-end: 0em !important;
  z-index: 2;
}

.section2 > h2,
.section2 > p,
.pres > p {
  -webkit-margin-before: 0em !important;
          margin-block-start: 0em !important;
  -webkit-margin-after: 0em !important;
          margin-block-end: 0em !important;
}

h2 {
  text-transform: uppercase;
  font-family: telegraf;
  text-align: center;
  color: white;
  line-height: 85%;
  font-size: 10vw;
}

.section2 > .graphic {
  padding-top: 500px;
  width: 100%;
}

p {
  color: white;
  opacity: 100%;
}

.palme {
  margin-bottom: 10px;
  margin-top: 30px;
  height: 30px;
}

.pres {
  font-size: 95px;
  line-height: 200px;
  margin-top: 150px;
  text-align: left;
  font-family: telegraf;
  width: 80%;
  font-weight: 400;
}

picture {
  height: auto;
}

/*Portfolio*/
@supports (display: grid) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "main main main";
  }
  @media screen and (max-width: 500px) {
    .grid-container {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
          grid-template-areas: "main";
    }
  }
  .grid-item {
    color: black;
    background: transparent;
    padding: 3.5em 1em;
    font-size: 1em;
    font-weight: 700;
  }
  .headr {
    background-color: #092a37;
    grid-area: headr;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  .headr h2 {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    padding-top: 8px;
  }
  .titre {
    color: white;
    background-color: #f4fbfd;
    grid-area: titre;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .main {
    color: black;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 150px;
  }
  .footer {
    background-color: #5bbce4;
    grid-area: footer;
    padding: 0.6em;
  }
  .items {
    position: relative;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transform: scale(1);
            transform: scale(1);
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: url("/img/openhand.svg") 8 8, auto;
    cursor: url("/img/openhand.png") 0 0, pointer;
    /* Legacy */
    cursor: url "/img/openhand.svg" 8 8, pointer;
    /* FF */
    cursor: -webkit-image-set url "/img/openhand.png" 1x, url "/img/openhand@2x.png" 2x 0 0, pointer;
    /* Webkit */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: auto;
  }
  .active {
    cursor: url("/img/closedhand.svg") 8 8, auto;
    cursor: url("/img/closedhand.png") 0 0, pointer;
    /* Legacy */
    cursor: url "/img/closedhand.svg" 8 8, pointer;
    /* FF */
    cursor: -webkit-image-set url "/img/closedhand.png" 1x, url "/img/closedhand@2x.png" 2x 0 0, pointer;
    /* Webkit */
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    height: 440px;
    width: auto;
    margin: 0 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 30px;
  }
  .item img {
    height: 350px;
    width: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
        user-select: none;
  }
  @media screen and (max-width: 500px) {
    .item {
      min-height: 200px;
    }
  }
  .item1 {
    background-color: lavender;
  }
  .item2 {
    background-color: #8844c7;
  }
  .item3 {
    background-color: #f33838;
  }
  .item4 {
    background-color: peachpuff;
  }
  .item5 {
    background-color: dodgerblue;
  }
}

.reveal::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0px;
}

.reveal-on::before {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  background-color: black;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  top: 0px;
}
/*# sourceMappingURL=style.css.map */