::-webkit-scrollbar {
  display: none;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000;
  scrollbar-width: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

@font-face {
  font-family: 'helvetica-medium';
  src: url("/fonts/HelveticaNeue Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'monument';
  src: url("/fonts/MonumentExtended-Ultrabold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica';
  src: url("../fonts/NeueMachina-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'telegraf';
  src: url("../fonts/Telegraf-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes textreveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes textreveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*Slide-in animation*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  to {
    opacity: 1;
  }
}

.fade-in-element {
  -webkit-animation: fade-in 1.4s;
          animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
  -webkit-transform: translate(0px, 150px);
          transform: translate(0px, 150px);
}

/*Slide-in animation end*/
.header {
  width: 100vw;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 10px;
  -webkit-animation-name: menu;
          animation-name: menu;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  mix-blend-mode: difference;
  pointer-events: auto;
}

#logo {
  font-family: helvetica;
  color: white;
  font-size: 28px;
  font-weight: 400;
  opacity: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.header--left {
  margin-left: 30px;
}

.header--right {
  margin-right: 30px;
}

.header--logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header--left a, .header--right a {
  font-family: helvetica;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  text-transform: uppercase;
  color: white;
  z-index: 2;
  opacity: 1;
  text-align: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro p {
  font-size: 60px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.intro > img {
  width: 70%;
  -webkit-animation-name: textreveal;
          animation-name: textreveal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

h1 {
  font-family: "helvetica";
  text-transform: uppercase;
  font-weight: 500;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-animation-name: textreveal;
          animation-name: textreveal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  line-height: 80%;
}

.sticker {
  height: 100px;
  width: 100px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.sticker-rond {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 3;
}

.sticker-text {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 4;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.container {
  position: relative;
  width: 100vw;
  height: auto;
  margin-top: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.block {
  width: 33%;
  padding-bottom: 25%;
  background: grey;
  -webkit-filter: grayscale(0.1);
          filter: grayscale(0.1);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  background-position: top !important;
  margin: 0 2% -2% 2%;
  position: relative;
  float: left;
}

.block-1 {
  background: url("../img/Portail2.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-2 {
  background: url("../img/Architexture.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-3 {
  background: url("../img/LGSL.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-4 {
  background: url("../img/LGSL2.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-5 {
  background: url("../img/Pangram.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-6 {
  background: url("../img/Newseum.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-7 {
  background: url("../img/Pangram2.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-8 {
  background: url("../img/Portail.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-9 {
  background: url("../img/Skull.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-10 {
  background: url("../img/Synesthesia.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-11 {
  background: url("../img/pangram3.webp") no-repeat 100% 100%;
  background-size: contain;
}

.block-12 {
  background: url("../img/Skull Copy.webp") no-repeat 100% 100%;
  background-size: contain;
}

.form {
  position: relative;
  height: 630px;
  width: 100vw;
  margin-top: 100px;
  z-index: 4;
}

.input {
  font-family: helvetica;
}

.section2 {
  background-color: black;
  width: 100vw;
  color: #b8b8b8;
  font-family: helvetica-medium;
  font-size: 20px;
  padding-left: 0px;
  padding-top: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 0em !important;
          margin-block-start: 0em !important;
  -webkit-margin-after: 0em !important;
          margin-block-end: 0em !important;
}

.section2 > h2, .section2 > p, .pres > p {
  -webkit-margin-before: 0em !important;
          margin-block-start: 0em !important;
  -webkit-margin-after: 0em !important;
          margin-block-end: 0em !important;
}

h2 {
  padding-bottom: 30px;
  text-transform: uppercase;
  font-family: Monument;
  text-align: center;
  color: bisque;
  color: black;
  -webkit-text-stroke: 1px bisque;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 85%;
}

.section2 > .graphic {
  width: 70%;
}

p {
  color: white;
  opacity: 100%;
}

.palme {
  margin-bottom: 10px;
  height: 30px;
}

.pres {
  font-size: 95px;
  line-height: 200px;
  margin-top: 150px;
  text-align: left;
  font-family: telegraf;
  width: 80%;
  font-weight: 400;
}
/*# source MappingURL=style.css.map */
