$backgroundColor1: rgb(10, 10, 10);
$backgroundColor2: rgb(255, 210, 210);
$textColorLight:#fff;
$menu-link:#fff;
$headerText: #E0E0E0;



::-webkit-scrollbar {
    display: none;
  }



body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background:#000;
    /*overscroll-behavior: none;*/
    //overflow: hidden;

}

@font-face {
    font-family: 'respira';
    src: url('/fonts/Respira-Black.otf');
    src: 
         url('/fonts/respira-black-webfont.woff2') format('woff2'),
         url('/fonts/respira-black-webfont.woff') format('woff'),
         url('/fonts/respira-black-webfont.ttf') format('truetype'),
         url('/fonts/respira-black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica-medium';
    src: url('/fonts/HelveticaNeue\ Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/HelveticaNeue.ttf');
    font-weight: normal;
    font-style: normal;
}


/*header {
    animation-duration: 2900ms;
    animation-name: hslidein;
    animation-timing-function: ease-in-out;
    }
  
  @keyframes hslidein {
    from {
        opacity: 0;
        transform: translate(0px, -100px);
    }
    75% {
        opacity: 0;
        margin-top: -100px;
        transform: translate(0px, -100px);
    }
  
    to {
        opacity: 1;
        margin-top: 0px;
        transform: translate(0px, 0px);
    }
  }
*/
#logo{
    /*color:rgb(255, 225, 213);*/
    color: $headerText;
    font-family: helvetica;
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
    text-transform: uppercase;
    text-decoration: none;
}

.header--left{
    margin-left:20px;
}

.header--right{
    margin-right: 20px;
}

.header{
    width:100vw;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

.header--logo{
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
}

.header--left a, .header--right a{
    font-family: helvetica;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color:$headerText;
    font-weight: 400;
}

.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Monument Extended";
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    z-index: 2;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: -4%;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    &::hover{
        cursor: url("../img/cursor.png"), auto !important;
    }
}

.block {
    width:500px;
    height: 230px;
    background: grey;
    margin: .5em;
    filter: grayscale(.8);
    opacity: .7;
    transition: .5s;
}

.block:hover {
    filter: grayscale(0);
    opacity: 1;
}

.block-1 {
    background: url("../img/Desktop\ HD\ Copy\ 15.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-2 {
    background: url("../img/Laurel—Skull.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-3 {
    background: url("../img/Desktop\ HD\ Copy\ 11.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-4 {
    background: url("../img/synesthesia-green\ 2.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-5 {
    background: url("../img/Valise—MJ—Light.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-6 {
    background: url("../img/pangram-phone-mockup.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-7 {
    background: url("../img/Desktop\ HD\ Copy\ 3.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-8 {
    background: url("../img/Desktop\ HD\ Copy.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-9 {
    background: url("../img/Group.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-10 {
    background: url("../img/Group\ 6.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-11 {
    background: url("../img/palme.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-12 {
    background: url("../img/Artboard\ 2.png") no-repeat 50% 50%;
    background-size: cover;
}


.form{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}